# Files to ignore

/Papers
/Wave/Images
/OctoberPresentation
/Wave/load
/Wave/Waves2.dat
/ThesisTemplate
/hydro*
BlackHoleVideo.sh
*.nb
*.png
*.eps
*.pdf
*.swp
*~*
*save*
/Dissertation/Hankel.text
*output*
parameters.dat

# TeX files
test.tex
*.aux
*.lof
*.log
*.lot
*.out
*.gz*
*.zip
*.nav
*.snm
*.toc


# Things to include
!NovemberPresentation.pdf
!Thesis_Notes.pdf
!/Dissertation/uoit.png
!/Dissertation/1Introduction/Introduction.pdf
!/Dissertation/2Transforms/Transforms.pdf
!/Dissertation/3Analytic/Analytic.pdf
!/Dissertation/4Simulation/Simulation.pdf
!/Dissertation/Dissertation.pdf
