# Files to ignore

/Papers
/Wave/Images
/OctoberPresentation
/Wave/load
/Wave/Waves2.dat
/ThesisTemplate
BlackHoleVideo.sh
*.nb
*.png
*.eps
*.pdf
*~*
/Dissertation/Hankel.text
blackhole_output

# TeX files
test.tex
/Dissertation/Dissertation.tex
*.aux
*.lof
*.log
*.lot
*.out
*.gz
*.zip
*.nav
*.snm
*.toc


# Things to include
!NovemberPresentation.pdf
!Thesis_Notes.pdf
!/Dissertation/uoit.png
!/Dissertation/2Transforms/Transforms.pdf
!/Dissertation/3Analytic/Analytic.pdf
