# Files to ignore

/Papers
/Wave/Images
/OctoberPresentation
/Wave/load
/Wave/Waves2.dat
/ThesisTemplate
*.nb
*.png
*.eps
*.pdf
*~*

# TeX files
test.tex
*.aux
*.log
*.gz
*.zip
*.nav
*.out
*.snm
*.toc

# Things to include
!NovemberPresentation.pdf
